
    p{
        font-family: Arial, Helvetica, sans-serif;
    }
    .texttahoma{
        font-family: Tahoma;
        font-weight: bold;
    }
    .textdeals{
        font-weight: bold;
        font-size: 18px;
        width: 250px;
        line-height: 24px;

    }
    .textsales{
        font-style: italic;
        font-size: 13px;
        color: red;
    }
    .textverdana{
        font-family: Verdana;
        font-weight: bold;
        font-size: 20px;
        width: 280px;
        line-height: 30px;
    }
    .textpro{
        color: gray;
        font-size: 16px;
        font-weight: none;
    }
    .textparagraph1{
        width: 270px;
    }
    .start-button{
        color: white;
        background-color: green;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border-style: none;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
    }
    .all-text{
        width: 280px;
        line-height: 40px;
    }
    .last-text{
        color: blue;
        width: 100px;
        cursor: pointer;
        margin-right: 50px;
        margin-left: 70px;
        font-size: 15px;
    }
    .top-text{
        font-weight: bold;
        font-size: larger;
    }
    .middle-text{
      font-size: 12px;
      width: 300px;
      margin-right: 20px;
      margin-left: 20px;
    }

