
    .askcomputer-button{
        background-color: brown;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 110px;
        font-weight: bold;
        color: white;
        transition: opacity 0.15s;
    }
    .sendcart-button{
        background-color: yellowgreen;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
        height: 30px;
        width: 150px;
        border-radius: 15px;
        transition: background-color 0.15s,
        opacity 0.15s;
        
    }

    .start-button{
        background-color: rgb(46, 164, 79);
        color: white;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 70px;
        font-weight: bold;
        border-radius: 4px;
        transition: box-shadow 0.15s;
    }
    .login-button{
        background-color: yellow;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 70px;
        border-radius: 2px;
        margin-right: 8px;
        transition: opacity 0.15s;
    }
    .logout-button{
        background-color: none;
        color: gray;
        cursor: pointer;
        border: solid;
        height: 30px;
        width: 70px;
        border-radius: 2px;
        transition: color 0.15s, background-color 0.15s;
    }

    .apply-button{
        background-color: purple;
        color: white;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 200px;
        border-radius: 15px;
        transition: opacity 0.15s;
    }
    .save-button{
        background-color: white;
        color: aqua;
        border: solid;
        cursor: pointer;
        height: 30px;
        width: 50px;
        border-radius: 15px;
        transition: opacity 0.15s;
    }
    .askcomputer-button:hover{
    opacity: 0.75;

    }
    .askcomputer-button:active{
    opacity: 0.25;
    }
    .sendcart-button:hover{
    background-color: green;
    opacity: 0.95;
    }
    .sendcart-button:active{
    opacity: 0.75;
    }
    .start-button:hover{
    box-shadow: 0px 5px 8px rgba(0, 0, 0 ,0.15);
    }

    .login-button:hover{
    background-color: rgb(168, 168, 7);
    opacity: 0.95;
    }
    .login-button:active{
    opacity: 0.95;
    }
    .logout-button:hover{
    color: white;
    background-color: gray;
    }
    .apply-button:hover{
    background-color: rgb(48, 4, 48);
    }
    .save-button:hover{
    background-color: rgb(226, 240, 254);
    border-width: 2px;
    }
