
    p{
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
        margin-left: 25;
    }
    .text1{
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 5;
    }
    .text2{
        font-weight: normal;
        color: gray;
        font-size: 5px;
    }
    .text3{
        font-weight: normal;
        color: green;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .text4{
        color: gray;
        margin-right: 3px;
    }
    .text5{
        color: red;
    }
    .texttop{
        margin-top: 20px;
        margin-bottom: 3px;
    }
    .text6{
        font-weight: bold;
        font-size: 10px;
    }
    .text7{
        color: gray;
        font-size: 10px;
    }
    .text8{
        font-size: 1px;
        width: 450px;
        margin-bottom: 10px;
    }
    .text9{
        font-size: 15px;
    }
    .text10{
        color: rgb(0, 168, 235);
        cursor: pointer;
        font-size: 15px;
    }
    
